#gamecontainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0f0f10;
}

#game {
  display: block;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

/* Level Selection Screen */
#levelselectscreen {
  padding-top: 150px;
  padding-left: 50px;
}

#levelselectscreen input {
  margin: 20px;
  cursor: pointer;
  background: url(/assets/images/icons/nivel1.jpg) no-repeat;
  font-size: 20px;
  width: 64px;
  height: 64px;
  border: 0;
}
